//! **************************************************************************
// Written by: Map P.20131013 on Thu Feb 29 10:35:49 2024
//! **************************************************************************

SCHEMATIC START;
COMP "SEL0" LOCATE = SITE "T14" LEVEL 1;
COMP "RED" LOCATE = SITE "U15" LEVEL 1;
COMP "SEL1" LOCATE = SITE "T15" LEVEL 1;
COMP "SEL2" LOCATE = SITE "P14" LEVEL 1;
COMP "SW_A" LOCATE = SITE "U12" LEVEL 1;
COMP "SW_B" LOCATE = SITE "T12" LEVEL 1;
COMP "SW_C" LOCATE = SITE "Y14" LEVEL 1;
COMP "SW_D" LOCATE = SITE "W14" LEVEL 1;
COMP "SW_E" LOCATE = SITE "T10" LEVEL 1;
COMP "SW_F" LOCATE = SITE "T11" LEVEL 1;
COMP "SW_G" LOCATE = SITE "W15" LEVEL 1;
COMP "GREEN" LOCATE = SITE "V17" LEVEL 1;
COMP "SW_H" LOCATE = SITE "V15" LEVEL 1;
COMP "A" LOCATE = SITE "V12" LEVEL 1;
COMP "B" LOCATE = SITE "W16" LEVEL 1;
COMP "C" LOCATE = SITE "J15" LEVEL 1;
COMP "D" LOCATE = SITE "H15" LEVEL 1;
COMP "E" LOCATE = SITE "V13" LEVEL 1;
COMP "F" LOCATE = SITE "U17" LEVEL 1;
COMP "G" LOCATE = SITE "T17" LEVEL 1;
SCHEMATIC END;

